{% extends "index.html" %}

{% block title %}D-Rec Studio{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">
                    <p class="flash">{{message}}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <section class="top-menu-info">
        <h1>Admin</h1>
    </section>

    <section class="main-options">
        <div class="cards">
            <div class="card modify">
                <h2>Udate</h2>
                <div class="text">
                    <p>Marque ja a sua sessao de trabalho e garanta o seu proprio tempo no studio.</p>
                </div>
                
                <div class="go-to">
                    <a href="/update"><ion-icon name="arrow-forward-outline" size="large"></ion-icon></a>
                </div>
            </div>

            <div class="card del">
                <h2>Delete</h2>
                <div class="text">
                    <p>Aprecie os trabalhos ja disponibilizados. Acompanhe de perto a evolucao da sua casa, a D-REC Studio</p>
                </div>
                <div class="go-to">
                    <a href="/delete"><ion-icon name="arrow-forward-outline" size="large"></ion-icon></a>
                </div>
            </div>

            <div class="card comms">
                <h2>Comments</h2>
                <div class="text">
                    <p>Aprecie os trabalhos ja disponibilizados. Acompanhe de perto a evolucao da sua casa, a D-REC Studio</p>
                </div>
                <div class="go-to">
                    <a href="/delete"><ion-icon name="arrow-forward-outline" size="large"></ion-icon></a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}