{% extends "index.html" %}

{% block title %}Ver Trabalhos{% endblock %}

{% block content %}

    <!-- VER TRABALHOS -->
    <section class="jobs">
        <h2>Trabalhos disponibilizados</h2>
		<table class="table table-action">

			<thead>
				<tr>
					<th class="t-small">ID</th>
					<th class="t-medium">Artista</th>
					<th>Musica</th>
					<th class="t-medium">Release</th>
					<th class="t-link">Link</th>
				</tr>
			</thead>

			<tbody>
				{% for value in music_data %}
					<tr>
						<td>{{value[0]}}</td>
						<td>{{value[1]}}</td>
						<td>{{value[2]}}</td>
						<td>{{value[3]}}</td>
						<td><button>
							<a href={{value[6]}}>
								<ion-icon id="download-btn" name="download-outline" 
								size="small"></ion-icon>
							</a>
						</button></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    </section>

{% endblock %}