{% extends "index.html" %}

{% block title %}D-Rec Studio{% endblock %}

{% block content %}

    <section class="top-menu-info">
        <h1>Updates</h1>
    </section>

    <section class="main-options">
        <div class="cards">
            <div class="card modify">
                <h2>Udate Musics</h2>
                <div class="text">
                    <p>Marque ja a sua sessao de trabalho e garanta o seu proprio tempo no studio.</p>
                </div>
                
                <div class="go-to">
                    <a href="/musicdb"><ion-icon name="arrow-forward-outline" size="large"></ion-icon></a>
                </div>
            </div>

            <div class="card del">
                <h2>Update Sessions</h2>
                <div class="text">
                    <p>Aprecie os trabalhos ja disponibilizados. Acompanhe de perto a evolucao da sua casa, a D-REC Studio</p>
                </div>
                <div class="go-to">
                    <a href="/sessiondb"><ion-icon name="arrow-forward-outline" size="large"></ion-icon></a>
                </div>
            </div>

            <div class="card del">
                <h2>Update Artist</h2>
                <div class="text">
                    <p>Aprecie os trabalhos ja disponibilizados. Acompanhe de perto a evolucao da sua casa, a D-REC Studio</p>
                </div>
                <div class="go-to">
                    <a href="/artistdb"><ion-icon name="arrow-forward-outline" size="large"></ion-icon></a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}